################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/MobInfo2-TBC-Classic/v15/.suo
/.vs/MobInfo2-TBC-Classic/v16/.suo